ultralytics==8.3.75
deep-sort-realtime==1.3.2
lapx==0.5.11
torch==2.6.0
torchreid==0.2.5
gdown==5.2.0
tensorboard==2.19.0
imageio-ffmpeg==0.6.0
ffmpeg-python==0.2.0

DRIVERS PARA UTILIZAÇÃO DE CUDA NO TREINAMENTO DO MODELO
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118                                                                                                                             

https://polygonzone.roboflow.com/
